<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒店管理系统</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        body{
            width:1360px;
            height:904px;
            /*background: url("/img/5.jpg");*/
            background:#f5f5f5;
            background-size: 100% 100%;
            background: url(/img/img3.jpg);
            background-size: cover;
        }
        .box{
            width:100%;
            height:100%;
            position: relative;
        }
        .nav{
            width:15%;
            height:100%;
            background: #fff;
            /*background:rgba(200, 54, 54, 0.3);*/
            font-size: 14px;
            position: absolute;
            left: 0;
        }
        ul li{
            list-style: none;
        }
        li a {
            color: #000;
            text-align: center;
            text-decoration: none;
            margin-left: 15px;
        }
        .panel-title {
            font-size: 13px;
        }
        .cont{
            width:70%;
            height:90%;
            color: #000;
            position: absolute;
            left: 20%;
            top:4%;
        }
        input,button{
            height:25px;
        }
    </style>
</head>
<body>
<div class="box">
    <div class="nav">
        <ul>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading" data-toggle="collapse" data-target="#collapseListGroup" role="tab">
                    <p class="panel-title">
                        入住管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading">
                    <ul>
                        <li><a href="/datang">大堂入住</a></li>
                        <li><a href="/dingdan">订单入住</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab">
                    <p class="panel-title">
                        退房管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                    <ul>
                        <li><a href="/tuiroom">退房管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab">
                    <p class="panel-title">
                        记录查询
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                    <ul>
                        <li><a href="/comroot">记录查询</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab">
                    <p class="panel-title">
                        房间管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
                    <ul>
                        <li><a href="/addroom">房间管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading4" data-toggle="collapse" data-target="#collapseListGroup4" role="tab">
                    <p class="panel-title">
                        房类管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
                    <ul>
                        <li><a href="/leiroot">房类管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading5" data-toggle="collapse" data-target="#collapseListGroup5" role="tab">
                    <p class="panel-title">
                        修改密码
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5">
                    <ul>
                        <li><a href="/uodatamima">修改密码</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading6" data-toggle="collapse" data-target="#collapseListGroup6" role="tab">
                    <p class="panel-title">
                        查看房间
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading6">
                    <ul>
                        <li><a href="/room">查看房间</a></li>
                    </ul>
                </div>
            </div>

        </ul>
    </div>
    <div class="cont">
        <p>
            查询条件:
                <input type="text" class="tiaojian">
                <button class="btn">查询</button>
        </p>
        <table class="table  table-striped navbar-default" style="margin-top: 50px">
            <thead>
            <tr>
                <th>入住时间</th>
                <th>退房时间</th>
                <th>入住人</th>
                <th>联系人</th>
                <th>证件号</th>
                <th>性别</th>
                <th>房间号</th>
                <th>房间类型</th>
                <th>入住状态</th>
                <th>消费金额</th>
            </tr>
            </thead>

            <tbody id="tbody"></tbody>

        </table>

    </div>
</div>



<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/PageNav.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script>
    $(".btn").click(function () {
        var typename=$(".tiaojian").val();
        $.get("/ruzhu",function(data){
            $("#tbody").empty()
            var str="";
            var data=data.result;
            $.each(data, function (i, n) {
                if(n.name==typename){
                    str="<tr class='shows '>" +
                        "<th class='comeday'>"+data[i].comeday+"</th>" +
                        "<th class='goday'>"+data[i].goday+"</th>" +
                        "<th class='name'>"+data[i].name+"</th>" +
                        "<th class='rename'>"+data[i].rename+"</th>" +
                        "<th class='zhengjianhao'>"+data[i].zhengjianhao+"</th>" +
                        "<th class='sex'>"+data[i].sex+"</th>" +
                        "<th class='fanghao'>"+data[i].fanghao+"</th>" +
                        "<th class='leixing'>"+data[i].leixing+"</th>" +
                        "<th class='zhuangtai'>"+data[i].zhuangtai+"</th>" +
                        "<th class='xiaofei'>"+data[i].xiaofei+"</th>" +
                        "</tr>";
                    $("#tbody").append(str);
                }
            })
        })
    })

</script>


</body>
</html>