<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒店管理系统</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        body{
            width:1360px;
            height:904px;
            /*background: url("/img/5.jpg");*/
            background:#f5f5f5;
            background-size: 100% 100%;
            background: url(/img/img3.jpg);
            background-size: cover;
        }
        .box{
            width:100%;
            height:100%;
            position: relative;
        }
        .nav{
            width:15%;
            height:100%;
            background: #fff;
            /*background:rgba(200, 54, 54, 0.3);*/
            font-size: 14px;
            position: absolute;
            left: 0;
        }
        ul li{
            list-style: none;
        }
        li a {
            color: #000;
            text-align: center;
            text-decoration: none;
            margin-left: 15px;
        }
        .panel-title {
            font-size: 13px;
        }
        .cont{
            width:70%;
            height:90%;
            color: #000;
            position: absolute;
            left: 20%;
            top:4%;
            /*background:rgba(200, 54, 54, 0.3);*/
        }
        h4{
            text-align: center;
            margin-top: 35px;
        }
        .cont input{
            border: none;
            height:25px;
            background: #fff;
            border:1px solid #ccc;
            opacity: 0.8;
        }
        .cont table{
            width: 800px;
            margin-left: 70px;
        }
        button.button {
            margin-left: 70px;
        }
        div#pagenavbox {
            margin-left: 70px;
        }

    </style>
</head>
<body>
<div class="box">
    <div class="nav">
        <ul>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading" data-toggle="collapse" data-target="#collapseListGroup" role="tab">
                    <p class="panel-title">
                        入住管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading">
                    <ul>
                        <li><a href="/datang">大堂入住</a></li>
                        <li><a href="/dingdan">订单入住</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab">
                    <p class="panel-title">
                        退房管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                    <ul>
                        <li><a href="/tuiroom">退房管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab">
                    <p class="panel-title">
                        记录查询
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                    <ul>
                        <li><a href="/comroot">记录查询</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab">
                    <p class="panel-title">
                        房间管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
                    <ul>
                        <li><a href="/addroom">房间管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading4" data-toggle="collapse" data-target="#collapseListGroup4" role="tab">
                    <p class="panel-title">
                        房类管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
                    <ul>
                        <li><a href="/leiroot">房类管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading5" data-toggle="collapse" data-target="#collapseListGroup5" role="tab">
                    <p class="panel-title">
                        修改密码
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5">
                    <ul>
                        <li><a href="/uodatamima">修改密码</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading6" data-toggle="collapse" data-target="#collapseListGroup6" role="tab">
                    <p class="panel-title">
                        查看房间
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading6">
                    <ul>
                        <li><a href="/room">查看房间</a></li>
                    </ul>
                </div>
            </div>

        </ul>
    </div>
    <div class="cont">
        <h4>房间类别信息</h4>
        <button class="button btn-success" type="button" data-toggle="modal" data-target="#myModal">增加分类</button>
        <div class="container">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">增加分类</h4>
                        </div>
                        <div class="modal-body">
                            <form id="biaodan" action="/doadd" method="post">
                                <p>房间id: <input type="text" name="sid" /></p>
                                <p>类别名称：<input type="text" name="leixing" /></p>
                                <p>面积：<input type="text" name="mianji" /></p>
                                <p>床位数：<input type="number" value="1" name="chuangshuliang" /></p>
                                <p>早餐：
                                    <select name="zaocan" id="zaocan">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </p>
                                <p>网络：
                                    <select name="wangluo" id="wangluo">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </p>
                                <p>电视：
                                    <select name="dianshi" id="dianshi">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </p>
                                <p>价格：<input type="text" name="jiage" /></p>
                                <!--<p>房间数量：<input type="text" name="fangshuliang" /></p>-->
                                <!--<p>剩余数量：<input type="text" name="yushuliang" /></p>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn">ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">修改</h4>
                        </div>
                        <div class="modal-body">
                            <form id="biaodan2" action="/doadd" method="post">
                                <p>房间id: <input type="text" name="sid" /></p>
                                <p>类别名称：<input type="text" name="leixings" /></p>
                                <p>面积：<input type="text" name="mianjis" /></p>
                                <p>床位数：<input type="number" name="chuangshuliangs" /></p>
                                <p>早餐：
                                    <!--<input type="text" name="zaocan" />-->
                                    <select name="zaocan" id="zaocans">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </p>
                                <p>网络：
                                    <!--<input type="text" name="wangluo" />-->
                                    <select name="wangluo" id="wangluos">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </p>
                                <p>电视：
                                    <!--<input type="text" name="dianshi" />-->
                                    <select name="dianshi" id="dianshis">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </p>
                                <p>价格：<input type="text" name="jiages" /></p>
                                <!--<p>房间数量：<input type="text" name="fangshuliangs" /></p>-->
                                <!--<p>剩余数量：<input type="text" name="yushuliangs" /></p>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="ok">ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table  table-striped navbar-default" style="margin-top: 20px">
            <tr>
                <th>房间id</th>
                <th>类别名称</th>
                <th>面积</th>
                <th>床位数</th>
                <th>早餐</th>
                <th>网络</th>
                <th>电视</th>
                <th>价格</th>
                <th>房间数量</th>
                <th>剩余数量</th>
                <th>操作项</th>
            </tr>

            <tbody id="tbody"></tbody>

        </table>
        <div id="pagenavbox"></div>
    </div>
</div>



<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/PageNav.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script>



    $.get("/doadd?page=1", function (data) {
        new PageNav({
            boxid: "pagenavbox",
            page: 1,
            pageAmount: data.pageAmount,
            change: function (pagenumber) {
                gotopage(pagenumber);
            }
        });
        gotopage(1);
    });
    function gotopage(pagenumber) {
        $("#tbody").empty();
        $.get("/doadd?page=" + pagenumber, function (data) {
            $.each(data.results, function (i, n) {
                //创建一个tr标签
                $tr = $("<tr class='shows'></tr>");
                $("<td></td>").html(n.sid).appendTo($tr);
                $("<td class='leixing'></td>").html(n.leixing).appendTo($tr);
                $("<td></td>").html(n.mianji).appendTo($tr);
                $("<td></td>").html(n.chuangshuliang).appendTo($tr);
                $("<td></td>").html(n.zaocan).appendTo($tr);
                $("<td></td>").html(n.wangluo).appendTo($tr);
                $("<td></td>").html(n.dianshi).appendTo($tr);
                $("<td></td>").html(n.jiage).appendTo($tr);
                $("<td></td>").html(n.fangshuliang).appendTo($tr);
                $("<td></td>").html(n.yushuliang).appendTo($tr);
                $("<td></td>").html("<button type='button' data-toggle='modal' data-target='#myModal1' id='update' class='work update'>修改</button> <button type='button' class='work del'>删除</button>").appendTo($tr);
                //上树
                $tr.appendTo($("#tbody"));
            });
        });
    }

    //增加
    $("#btn").click(function () {
        $.post("/doadd", {
            sid: parseInt($("input[name=sid]").val()),
            leixing: $("input[name=leixing]").val(),
            mianji: $("input[name=mianji]").val(),
            chuangshuliang: $("input[name=chuangshuliang]").val(),
            zaocan: $("#zaocan").val(),
            wangluo: $("#wangluo").val(),
            dianshi: $("#dianshi").val(),
            jiage: $("input[name=jiage]").val(),
            fangshuliang: $("input[name=fangshuliang]").val(),
            yushuliang: $("input[name=fangshuliang]").val()
        }, function (data) {
            if (data.result == 1) {
                alert("提交成功！");
                window.location.href = '/leiroot';
                $("input[type=text]").val("");
            } else if (data.result == -1) {
                alert("提交失败,被占用！");
            } else if (data.result == -2) {
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    });
    //修改
    $("#tbody").delegate(".update", "click", function () {
        var This = $(this).parent().parent().children();
        var sid = $(This).eq(0).html();
        $.get("/rtype/"+sid,function (data) {
            if (data.result==-1){
                alert("查无此人")
            }else{
                $("input[name=sid]").val(data.result.sid);
                $("input[name=leixings]").val(data.result.leixing);
                $("input[name=mianjis]").val(data.result.mianji);
                $("input[name=chuangshuliangs]").val(data.result.chuangshuliang);
                $("#zaocans").val(data.result.zaocan);
                $("#wangluos").val(data.result.wangluo);
                $("#dianshis").val(data.result.dianshi);
                $("input[name=jiages]").val(data.result.jiage);
                // $("input[name=fangshuliangs]").val(data.result.fangshuliang);
                // $("input[name=yushuliangs]").val(data.result.yushuliang);
            }
        })
    })
    $("#ok").click(function () {
        var  sid = parseInt($("input[name=sid]").val());
        $.post("/rtype/" + sid,{
            sid: parseInt($("input[name=sid]").val()),
            leixings: $("input[name=leixings]").val(),
            mianjis: $("input[name=mianjis]").val(),
            chuangshuliangs: $("input[name=chuangshuliangs]").val(),
            zaocans: $("#zaocans").val(),
            wangluos: $("#wangluos").val(),
            dianshis: $("#dianshis").val(),
            jiages: $("input[name=jiages]").val(),
            // fangshuliangs: $("input[name=fangshuliangs]").val(),
            // yushuliangs: $("input[name=yushuliangs]").val()
        },function(data){
            if(data.result == 1){
                window.location = "/leiroot";
            }else{
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    })

    //删除
    $("#tbody").delegate(".del", "click", function () {
        var This = $(this).parents().children();
        var sid = $(This).eq(2).html();
        $.ajax({
            url: "/doadd/" + sid,
            type: "delete",
            success: function (data) {
                if (data.result == 1) {
                    alert("删除成功");
                    This.parents("tr").remove();
                    window.location.href = '/leiroot'
                } else {
                    alert("服务器错误！");
                }
            }
        });

    })




    // $("#btn").click(function () {
    //     var Typelei=$("input[name=leixing]").val();
    //     console.log(Typelei)
    //     $.get("/shuleibie",function(data){
    //         var str="";
    //         var data=data.result;
    //         console.log(data)
    //         for(var i=0;i<data.length;i++){
    //             if(data[i].leixing==Typelei){
    //                 console.log(data[i].leixing)
    //             }
    //             str.push(data[i].leixing)
    //             console.log(str)
    //         }
    //     })
    // })
    // console.log($(".leixing").html())
    //
    // $("#tbody").delegate("tr", "click", function () {
    //     var str="";
    //     var This=$(this).children().eq(1).html();
    //     console.log(This)
    //     // var typename=$(".leixing").html();
    //     $.get("/fanghao",function(data){
    //         var data=data.result;
    //         $.each(data, function (i, n) {
    //             if(n.leixing==This){
    //                 // console.log(data[i].sid)
    //                 str=data[i].sid;
    //                 console.log(str)
    //             }
    //         })
    //     })
    // })


</script>


</body>
</html>