<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒店管理系统</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        body{
            width:1360px;
            height:904px;
            /*background: url("/img/5.jpg");*/
            background:#f5f5f5;
            background-size: 100% 100%;
            background: url(/img/img3.jpg);
            background-size: cover;
        }
        .box{
            width:100%;
            height:100%;
            position: relative;
        }
        .nav{
            width:15%;
            height:100%;
            background: #fff;
            /*background:rgba(200, 54, 54, 0.3);*/
            font-size: 14px;
            position: absolute;
            left: 0;
        }
        ul li{
            list-style: none;
        }
        li a {
            color: #000;
            text-align: center;
            text-decoration: none;
            margin-left: 15px;
        }
        .panel-title {
            font-size: 13px;
        }
        .cont{
            width:70%;
            height:90%;
            color: #000;
            position: absolute;
            left: 20%;
            top:4%;
        }
        .cont input{
            border: none;
            height:25px;
            background: #fff;
            opacity: 0.8;
        }
        .cha{
            border: none;
            height:25px;
            line-height: 25px;
            text-align: center;
            width:50px;
        }
        .cont h4{
            margin-top: 30px;
            margin-bottom: 30px;
            color: orange;
        }
        .cont .fxx{
            margin-top: 60px;
        }
        .cont p{
            padding-left: 40px;
        }
        .cont .span{
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="box">
    <div class="nav">
        <ul>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading" data-toggle="collapse" data-target="#collapseListGroup" role="tab">
                    <p class="panel-title">
                        入住管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading">
                    <ul>
                        <li><a href="/datang">大堂入住</a></li>
                        <li><a href="/dingdan">订单入住</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab">
                    <p class="panel-title">
                        退房管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                    <ul>
                        <li><a href="/tuiroom">退房管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab">
                    <p class="panel-title">
                        记录查询
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                    <ul>
                        <li><a href="/comroot">记录查询</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab">
                    <p class="panel-title">
                        房间管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
                    <ul>
                        <li><a href="/addroom">房间管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading4" data-toggle="collapse" data-target="#collapseListGroup4" role="tab">
                    <p class="panel-title">
                        房类管理
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
                    <ul>
                        <li><a href="/leiroot">房类管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading5" data-toggle="collapse" data-target="#collapseListGroup5" role="tab">
                    <p class="panel-title">
                        修改密码
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5">
                    <ul>
                        <li><a href="/uodatamima">修改密码</a></li>
                    </ul>
                </div>
            </div>
            <div class="leftMenu">
                <div class="panel-heading" id="collapseListGroupHeading6" data-toggle="collapse" data-target="#collapseListGroup6" role="tab">
                    <p class="panel-title">
                        查看房间
                        <span class="caret"></span>
                    </p>
                </div>
                <div id="collapseListGroup6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading6">
                    <ul>
                        <li><a href="/room">查看房间</a></li>
                    </ul>
                </div>
            </div>

        </ul>
    </div>
    <div class="cont">
        <p style="margin-top: 20px;">
            请输入房间号: <input type="text" class="nr"> <button class="cha">查询</button>
        </p>
        <div class="aa">
            <h4>顾客信息</h4>
            <p>
                <span>
                    证件类型: <span class="zjleixing kong"></span>
                </span>
                <span class="span">
                    证件号: <span class="zjhao kong"></span>
                </span>
            </p>
            <p>
                    <span>
                        姓名: <span class="name kong"></span>
                    </span>
                <span class="span">
                        性别: <span class="sex kong"></span>
                    </span>
            </p>
            <h4 class="fxx">入住信息</h4>
            <p>
                <span>
                    入住号: <span class="ruzhuhao kong"></span>
                </span>
            </p>
            <p>
                <span>
                    房间类型: <span class="leixing kong"></span>
                </span>
                <!--<span>-->
                    <!--剩余数量: <span class="shuliang kong"></span>-->
                <!--</span>-->
            </p>
            <p>
                入住日期: <span class="riqi kong"></span>
            </p>
            <p>
                入住人: <span class="ruzhuname kong"></span>
            </p>
            <p>
            <span>
                    入住天数: <span class="day kong"></span>
            </span>
            </p>
            <p>
                  <span class="span">
                价格: <span class="jiage kong"></span>
            </span>
            </p>
            <p>
                消费金额: <span class="xiaofei kong"></span>
            </p>
            <p>
                <button class="tuichu btn-success">退房</button>
            </p>
        </div>
    </div>
</div>



<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/PageNav.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script>



    $(".cha").click(function () {



        var fanghao=$(".nr").val();
        $.get("/tuifangcx",function(data){
            $(".kong").empty();
            var data=data.result;
            $.each(data, function (i, n) {
                if(n.fanghao==fanghao&&n.zhuangtai!="已退房"){
                    $(".zjleixing").html(data[i].zjleixing);
                    $(".zjhao").html(data[i].zhengjianhao);
                    $(".name").html(data[i].name);
                    $(".sex").html(data[i].sex);
                    $(".ruzhuhao").html(data[i].fanghao);
                    $(".riqi").html(data[i].comeday);
                    $(".ruzhuname").html(data[i].name);
                    $(".day").html(parseInt(data[i].xiaofei)/parseInt(data[i].jiage));
                    $(".jiage").html(data[i].jiage);
                    $(".xiaofei").html(data[i].xiaofei);
                    // $(".shuliang").html(yushuliang);
                    $(".leixing").html(data[i].leixing);
                }
            })

            var typename=$(".leixing").html();
            console.log(typename)
            $.get("/jiagef",function(data){
                var data=data.result;
                $.each(data, function (i, n) {
                    if(n.leixing==typename){
                        $(".shuliang").html(data[i].yushuliang)
                    }
                })
            })

        })
    })
    $(".tuichu").click(function () {
        var sid=$(".ruzhuhao").html();
        console.log(sid);
        var zhuangtai="未入住";
        console.log(zhuangtai);
        $.post("/tuifang/" + sid,{
            zhuangtai: zhuangtai
        },function(data){
            if(data.result == 1){
                alert("成功-未入住")
            }
        })
    });
    $(".tuichu").click(function () {
        var sid=$(".ruzhuhao").html();
        console.log(sid);
        var zhuangtai="已退房";
        console.log(zhuangtai);
        $.post("/yituifang/" + sid,{
            zhuangtai: zhuangtai
        },function(data){
            if(data.result == 1){
                alert("成功-已退房")
            }
        })
    });
    $(".tuichu").click(function () {
        var sid=$(".name").html();
        console.log(sid);
        $.ajax({
            url: "/tuifang/" + sid,
            type: "delete",
            success: function (data) {
                if (data.result == 1) {
                    alert("删除成功");
                }
                // else {
                //     alert("服务器错误！");
                // }
            }
        });
    })


</script>


</body>
</html>